{% extends "base.html.twig" %}

{% block title %}Nos noyages{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h2>Les voyages du moment</h2>
        </div>
        <div class="row">
            <div class="align-item-center p-3">
                <div class="card">
                    <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Voyage 1</h5>
                        <a href="{{ path('trip', {'voyage' : 'voyage1' }) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>

            <div class="align-item-center p-3">
                <div class="card">
                    <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Voyage 2</h5>
                        <a href="{{ path('trip', {'voyage' : 'voyage2' }) }}" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}